.footer-link-connect__list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  &:focus {
    color: #2196f3;
  }
  &:hover {
    color: #2196f3;
  }
}
