.footer {
  font-family: Raleway;
  font-weight: bold;
  height: 100%;
  // font-size: 26px;
  // line-height: 31px;
  font-size: 24px;
  line-height: 28px;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  @media screen and (min-width: 1200px) {
    height: 252px;
  }
}
.footer__container {
  @media screen and (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.color-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.footer__link {
  color: #2196f3;
  text-decoration: none;
}
.footer-link__address {
  margin-bottom: 20px;
}
.address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 9px;
  &:focus {
    color: #2196f3;
  }
  &:hover {
    color: #2196f3;
  }
}
