.section-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  padding-bottom: 30px;
}
